* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1500px;
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  -ms-perspective: 1500px;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
  transform-style: preserve-3d;
  overflow-x: hidden;
  overflow-y: hidden;
  background: url("/images/background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
}

.card {
  max-height: 824px;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0px 50px rgba(0, 0, 0, 0.2),
    inset 0 0 5px #ffffff;
  transform-style: preserve-3d;
  background-image: linear-gradient(0deg, #32205a 0%, #01566c 100%);
  transform-style: preserve-3d;
}

.display-picture {
  min-height: 257px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: all 0.75s ease-out;
  transform-style: preserve-3d;
}

.display-picture img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  transition: all 0.75s ease-out;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0px 50px rgba(0, 0, 0, 0.2);
  transform-style: preserve-3d;
}

.circle {
  width: 12rem;
  height: 12rem;
  background-color: #b3cdd1;
  position: absolute;
  z-index: -1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(62deg, #d8d8d8 0%, #ffffff 100%);
  transform-style: preserve-3d;
  box-shadow: inset 0 0 3px #d8d7d7;
}

.info {
  text-align: center;
  transform-style: preserve-3d;
}
.info h1 {
  font-size: 2.1rem;
  transition: all 0.5s ease-out;
  transform-style: preserve-3d;
  color: white;
}

.info h3 {
  font-size: 1.5rem;
  padding: 2rem 0rem;
  color: #585858;
  font-weight: lighter;
  transition: all 0.75s ease-out;
  transform-style: preserve-3d;
  color: white;
}

.info h4 {
  font-size: 1.2rem;
  padding: 1rem 0rem;
  font-weight: bold;
  transition: all 0.75s ease-out;
  transform-style: preserve-3d;
  color: white;
}

.links {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
  height: 185px;
  min-width: 400px;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  flex-wrap: wrap;
}

.links button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2), inset 0 0 2px #d8d7d7;
  border-radius: 30px;
  cursor: pointer;
  color: white;
  height: 5vh;
  margin: 2vh;
  width: 135px;
  min-height: 50px;
  background-color: #1c2331;
  transform-style: preserve-3d;
  font-size: 15px;
  font-weight: 600;
}

button:focus {
  outline: none;
}

button:hover {
  color: #1c2331;
  background: white;
  transition: all 0.35s ease-out;
  transform-style: preserve-3d;
}

.contact {
  height: 200px;
  display: flex;
  align-self: center;
  justify-content: center;
  transition: all 0.75s ease-out;
  transform-style: preserve-3d;
  margin-right: 10px;
}

.contact a {
  transition: all 0.35s ease-out;
  align-self: center;
  padding: 5px;
  justify-content: center;
}

.contact img {
  height: 55px;
  transform-style: preserve-3d;
}

.contact img:hover {
  filter: brightness(0.5);
  cursor: pointer;
  transform-style: preserve-3d;
}

@media screen and (max-device-width: 480px) {
  html,
  body {
    overflow-x: hidden;
    overflow-y: hidden;
    touch-action: none;
  }
  body {
    position: relative;
    background-position: -1200px 0px;
  }

  .card {
    width: 100%;
    height: 100%;
    border-radius: 30px;
    padding: 0rem 5rem;
    box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0 0px 50px rgba(0, 0, 0, 0.2);
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
    border-radius: 0px;
    max-height: 100%;

  }


  .display-picture {
    min-height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: all 0.75s ease-out;
  }

  .display-picture .circle img {
    height: 14vh;
    width: 14vh;
  }

  .links {
    margin-top: 5vh;
    height: 5vh;
  }

  .circle {
    background-image: linear-gradient(62deg, #d8d8d800 0%, #ffffff00 100%);
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 20px 20px rgba(255, 255, 255, 0),
      0 0px 50px rgba(255, 255, 255, 0);
  }

  .links button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    color: black;
    height: 5vh;
    margin: 2vh;
    background-color: white;
    font-size: 30px;
    margin: 17px;
    font-weight: bold;
    min-width: 230px;
  }

  .contact {
    margin-top: 15vh;
    height: 20vh;
    display: flex;
    align-self: center;
    justify-content: center;
    transition: all 0.75s ease-out;
    padding-left: 2vh;
  }

  .contact img {
    height: 120px;
  }

  .info h1 {
    font-size: 3.5rem;
    transition: all 0.5s ease-out;
    color: white;
    height: 250px;
  }

  .info h3 {
    font-size: 2.5rem;
    color: #d6d5d5;
    font-weight: bold;
    padding: 1rem 0rem;
    transition: all 0.75s ease-out;
  }

  .info h4 {
    font-size: 2.75rem;
    padding: 2rem 0rem;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.75s ease-out;
  }

  #linkedIn {
    height: 110px !important;
  }

  #mobile-warn {
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%, -50%);
    width: 150%;
    color: rgb(179, 255, 0);
    font-size: 40px;
  }
}
